# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Build and artifacts
dist/
build/
out/

# Dependency directories
bower_components/

# Vercel/Next.js specific
.vercel/
.next/

# Ignore IDE-specific files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
*.bak
